.back-button,
.logout-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
}

img {
  width: 100%;
}

.movie-title,
.movie-description,
.movie-genre,
.movie-director,
.movie-biography,
.movie-birthyear,
.movie-actors {
  font-weight: bold;
  color: darkblue;
}
