/* movies-view.scss */

@import "../../index.scss";  // Adjust the relative path to reach index.scss




/* Add any other styling properties you need */


.back-button,
.logout-button {
  padding: 4px 12px;
  color: $color; /* Use the $color variable defined in index.scss */
  background-color: $primary; /* Use the $primary variable from index.scss */
  border: none;
  border-radius: 4px;
}


img {
  width: 100%;
}

.movie-title,
.movie-description,
.movie-genre,
.movie-director,
.movie-biography,
.movie-birthyear,
.movie-actors {
  font-weight: bold;
  color: darkblue;
}

