// index.scss
$primary: SeaGreen;
$color: steelblue; // Define the $color variable

@import "~bootstrap/scss/bootstrap.scss";

.my-flix {
  color: $color; /* Use the $color variable defined in index.scss */
}
